@use "../abstracts" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--oc-orange-0);
  height: var(--space-3); // to later stickyness
  padding-inline: var(--kegel-10);
}
