@use "../abstracts" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--oc-orange-0);
  height: var(--space-3); // to later stickyness
  padding-inline: var(--kegel-10);
}

.main-nav {
  @include mq(sm) {
    display: none;
  }

  &__links {
    display: flex;
    gap: var(--kegel-10);
    list-style: none;
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--oc-gray-8);
      font-weight: var(--weight-5);
      font-size: var(--kegel-6);
      transition: all 0.3s ease;
    }
    &:hover,
    &:active {
      color: var(--oc-orange-7);
    }
  }

  &__link--cta {
    &:link,
    &:visited {
      color: var(--oc-white);
      background-color: var(--oc-orange-5);
      border-radius: 1rem;
      padding: var(--kegel-2) var(--kegel-6);
    }
    &:hover,
    &:active {
      background-color: var(--oc-orange-7);
    }
  }
}

.header__burger {
  display: none;
  @include mq(sm) {
    display: block;
  }

  background-color: transparent;
  border: none;

  &__icon {
    color: var(--oc-gray-8);
    width: var(--kegel-12);
    height: var(--kegel-12);
  }

  .header__burger__icon[name="menu-outline"] {
    display: block;
  }

  .header__burger__icon[name="close-outline"] {
    display: none;
  }
}

.enable-mobile-nav {
  .main-nav {
    display: block;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__links {
      flex-direction: column;
      align-items: center;
    }
  }
  .header__burger__icon[name="menu-outline"] {
    display: none;
  }

  .header__burger__icon[name="close-outline"] {
    display: block;
  }
}
