@use "../abstracts" as *;

.featured {
  .heading-secondary {
    font-size: var(--kegel-5);
    color: var(--oc-gray-6);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.075rem;
    font-weight: var(--weight-7);
    margin-bottom: var(--kegel-9);
  }
}
