@use "../abstracts/" as *;

.hero-w {
  background-color: red;
  padding-block: var(--space-1) var(--space-4);
}

.hero {
  max-width: 130rem;
  padding-inline: var(--kegel-11);
  margin-inline: auto;
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .heading-primary {
    margin-bottom: var(--kegel-15);
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__descr {
    font-size: var(--kegel-7);
    margin-bottom: var(--kegel-13);
    line-height: var(--line-height-lg);
  }

  &__customers {
    display: flex;
    align-items: center;
    margin-top: var(--space-3);
    gap: var(--kegel-5);

    &__imgs {
      display: flex;
    }

    &__imgs img {
      height: var(--kegel-15);
      width: var(--kegel-15);
      border-radius: 50%;
      border: 0.3rem solid var(--oc-orange-0);

      &:not(:last-child) {
        margin-right: -1.6rem;
      }
    }

    &__caption {
      font-size: var(--kegel-6);
      font-weight: var(--weight-medium);
      span {
        color: var(--oc-orange-7);
        font-weight: var(--weight-semibold);
      }
    }
  }
}
