@use "../abstracts" as *;

.main-nav {
  &__links {
    display: flex;
    gap: var(--kegel-10);
    list-style: none;
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--oc-gray-8);
      font-weight: var(--weight-5);
      font-size: var(--kegel-6);
      transition: all 0.3s ease;
    }
    &:hover,
    &:active {
      color: var(--oc-orange-7);
    }
  }

  &__link--cta {
    &:link,
    &:visited {
      color: var(--oc-white);
      background-color: var(--oc-orange-5);
      border-radius: 1rem;
      padding: var(--kegel-2) var(--kegel-6);
    }
    &:hover,
    &:active {
      background-color: var(--oc-orange-7);
    }
  }
}
