@use "../abstracts" as *;

.meals {
  margin-block: 0 var(--space-2);
  &__header {
    text-align: center;
  }
}

.meals__link {
  font-size: var(--kegel-6);
  text-align: center;
}

.meals__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
  margin-bottom: var(--space-2);
}

.list {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--kegel-8);
  }
}

.list__item {
  display: flex;
  align-items: center;
  gap: var(--kegel-1);
}

.list__item span {
  font-size: var(--kegel-7);
}

.list__item ion-icon {
  width: var(--kegel-10);
  height: var(--kegel-10);
  color: var(--oc-orange-5);
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba($color: #000000, $alpha: 0.1);
  border-radius: 1rem;
  overflow: hidden;

  &__content {
    padding: var(--kegel-10);
  }

  &__img {
    width: 100%;
  }
  &__name {
    font-size: var(--kegel-10);
    color: var(--oc-gray-8);
    font-weight: var(--weight-7);
    margin-bottom: var(--kegel-10);
  }

  &__properties {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--kegel-9);
    > * {
      font-size: var(--kegel-6);
      display: flex;
      align-items: center;
      gap: var(--kegel-1);
    }
  }

  &__icon {
    width: var(--kegel-8);
    height: var(--kegel-8);
    color: var(--oc-orange-5);
  }
}
