@use "../abstracts/" as *;

.plans {
  margin-block: var(--space-4);
}

.plan__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
}

.plan {
  &__item {
    background-color: var(--oc-orange-0);
    border-radius: var(--kegel-1);
    padding: var(--kegel-14);
    width: 75%;
    border: 0.2rem solid var(--oc-orange-0);
    position: relative;
    overflow: hidden;

    &:first-child {
      justify-self: end;
      background-color: var(--oc-white);
    }

    &:last-child::before {
      content: "Best value";
      position: absolute;
      top: 0;
      right: 0;
      text-transform: uppercase;
      font-size: var(--kegel-4);
      font-weight: var(--weight-7);
      background-color: var(--oc-yellow-5);
      padding: 0.8rem var(--kegel-15);
      color: var(--oc-gray-8);
      transform: rotate(45deg) translate(5.5rem, -1rem);
    }

    .list {
      margin-bottom: var(--kegel-14);
    }
  }

  &__header {
    text-align: center;
    margin-bottom: var(--kegel-14);
  }

  &__name {
    color: var(--oc-orange-8);
    font-weight: var(--weight-6);
    text-transform: uppercase;
    font-size: var(--kegel-7);
    letter-spacing: 0.075rem;
    margin-bottom: var(--kegel-11);
  }

  &__price {
    font-size: var(--space-1);
    font-weight: var(--weight-7);
    color: var(--oc-gray-8);
    margin-bottom: var(--kegel-2);

    span {
      font-size: var(--kegel-10);
      font-weight: var(--weight-6);
      margin-right: 0.8rem;
    }
  }

  &__text {
    font-size: var(--kegel-5);
    line-height: var(--height-7);
    color: var(--oc-gray-6);
  }

  &__signup {
    text-align: center;
  }

  &__details {
    font-size: var(--kegel-5);
    line-height: var(--height-5);
    text-align: center;
    margin-block: var(--kegel-15);
  }
}
