@use "../abstracts" as *;

html {
  font-size: 62.5%;

  @include mq(md) {
    font-size: 56.25%;
  }

  @include mq(sm) {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--oc-gray-8);
}

strong {
  font-weight: var(--weight-5);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--weight-7);
  color: var(--gray-8);
  letter-spacing: -0.1rem;
  line-height: var(--line-height-1);
}

.heading-primary {
  font-size: var(--kegel-15);
  @include mq(lg) {
    font-size: var(--kegel-14);
  }
}

.heading-secondary {
  font-size: var(--kegel-13);
  margin-bottom: var(--space-3);
  @include mq(lg) {
    font-size: var(--kegel-12);
  }
}

.heading-tertiary {
  font-size: var(--kegel-10);
  margin-bottom: var(--kegel-10);
}

.subheading {
  display: block;
  font-size: var(--kegel-5);
  font-weight: var(--weight-medium);
  color: var(--oc-orange-7);
  text-transform: uppercase;
  margin-bottom: var(--kegel-5);
  letter-spacing: 0.1rem;
}
